*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
}

body{
    background: hsl(0, 0%, 95%);
}

.header{
    background-color:rgb(219, 219, 29);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); 
    width: 100%;
    height: 60px;
}

header h1{
    color: white;
    font-family: "Mclaren", cursive;
    font-weight: 200;
    padding-top: 8px;
}

.list{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1{
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word; 
}
footer{
    height: 2.8rem;
    background:black;
    color: rgb(158, 148, 148);
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
}

